/* 将初始化代码单独设置为一个css文件,谁需要使用,就直接链接即可 */

body,
div,
span,
p,
img,
input,
a,
ul,
li,
h1,
h2,
h3,
h4,
strong,
em,
del,
ins,
i,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     /* 设置移动端点击高亮背景色  去掉就设置为透明颜色即可*/
     -webkit-tap-highlight-color: transparent;
     /* 设置文字允许字体小于0.12rem; */
     -webkit-text-size-adjust: none;
     /* 防止文字的锯齿样式 */
     -webkit-font-smoothing: antialiased;
}
@main-color: #e93b3d;

html {
    font-size: 26.6667vw;
}

a {
    text-decoration: none;
    color: #666;
}

li {
    list-style: none;
}

input {
    border: 0;
    outline: 0;
}

img {
    border: 0;
    vertical-align: middle;
}

i {
    font-style: normal;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

body {
    background: #fff;  
    font-size: 0.14rem;
    font-family: -apple-system, Helvetica, sans-serif;
     line-height: 1.5;
}

.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

// 定义一些公共边框
.bl {
    border-left: 1px solid #ccc;
}
.br {
    border-right: 1px solid #ccc;
}
.bt {
    border-top: 1px solid #ccc;
}
.bb {
    border-bottom: 1px solid #ccc;
}